prefix=/home/n/.local/share/npm
browser=chromium
editor=nvim
viewer=nvim
cache=/home/n/.cache/npm
prefer-online=true
init-author-name=none23
init-author-email=n.anisimov.23@gmail.com
init-author-url=https://github.com/none23
init-license=MIT
init-version=0.0.0
