prefix=/home/n/.npm-global
browser=chromium
editor=nvim
viewer=nvim
cache=/home/n/.npm
prefer-online=true
init-author-name=none23
init-author-email=n.anisimov.23@gmail.com
init-author-url=https://github.com/none23
init-license=MIT
init-version=0.0.0
search-limit=50
//registry.npmjs.org/:_authToken=0d0952cd-86e5-4c7f-a3ef-cbcacc224a37
