urxvt*termName: rxvt-unicode-256color
URxvt*termName: rxvt-unicode-256color
urxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
urxvt*secondaryScroll: true
urxvt*saveLines: 30000
urxvt*cursorBlink: true
urxvt*urgentOnBell: true
urxvt*matcher.button:  1
URxvt*font: xft:Inconsolata:pixelsize=9,xft:Terminess\ Powerline:pixelsize=8
URxvt*faceName:Inconsolata:style=Regular:size=9
urxvt*faceName:Inconsolata:style=Regular:size=9
urxvt*.colorUL:    #ffffff
URxvt*.foreground: #F2F1F0
URxvt*.cursorColor: #F67730
#define _color0        #000d18
#define _color1        #ff6C6C
#define _color2        #6CD96C
#define _color3        #de5e1e
#define _color4        #6C6CD9
#define _color5        #d96cd9
#define _color6        #6cd9d9
#define _color7        #ffffff
#define _color8        #000d18
#define _color9        #ff6C6C
#define _color10       #6CD96C
#define _color11       #de5e1e
#define _color12       #6C6CD9
#define _color13       #d96cd9
#define _color14       #6cd9d9
#define _color15       #ffffff
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
#define _foreground    #ffffff
#define _background    #000000
#define _cursorColor   #8faf9f
URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*background     : _background
XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor
URxvt.keysym.KP_Add: +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide: /
URxvt.keysym.KP_Decimal: .
URxvt.keysym.KP_Separator: ,
URxvt.keysym.KP_2: 2
URxvt.keysym.KP_3: 3
URxvt.keysym.KP_4: 4
URxvt.keysym.KP_5: 5
URxvt.keysym.KP_6: 6
URxvt.keysym.KP_7: 7
URxvt.keysym.KP_8: 8
URxvt.keysym.KP_9: 9
URxvt.keysym.KP_0: 0
xscreensaver*Font: xft:Inconsolata:pixelsize=9,xft:Terminess\ Powerline:pixelsize=8
xscreensaver.Dialog.foreground:         #de5e1e
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #de5e1e
xscreensaver.Dialog.Button.background:  #111111
xscreensaver.Dialog.text.foreground:    #de5e1e
xscreensaver.Dialog.text.background:    #111111
xscreensaver.Dialog.internalBorderWidth:20
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    0
xscreensaver.passwd.thermometer.foreground:  #de5e1e
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y
xscreensaver.newLoginCommand: 
Gdraw.Foreground: #ffffff
Gdraw.Background: #101010
Gdraw.GGadget.Box.BorderBrightest: #131313
Gdraw.GGadget.Box.BorderBrighter: #171717
Gdraw.GGadget.Box.BorderDarker: #232323
Gdraw.GGadget.Box.BorderDarkest: #272727
Gdraw.GGadget.Box.DisabledForeground: #999999
Gdraw.GGadget.Box.DisabledBackground: #333333
Gdraw.GGadget.Box.PressedBackground: #de4400
fontforge.CharView.WidthColor: #ffffff
fontforge.CharView.TransformOriginColor: #ffffff
fontforge.CharView.ForegroundOutlineColor: #ffffff
