foreground: #aaa
background: #000000
color0:     #000d18
color1:     #ff6C6C
color2:     #6CD96C
color3:     #de5e1e
color4:     #6C6CD9
color5:     #d96cd9
color6:     #6cd9d9
color7:     #ffffff
color8:     #000d18
color9:     #ff6C6C
color10:    #6CD96C
color11:    #de5e1e
color12:    #6C6CD9
color13:    #d96cd9
color14:    #6cd9d9
color15:    #ffffff
colorBD:    #ffcfaf
colorUL:    #ccdc90
colorIT:    #80d4aa
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.secondaryScroll: true
URxvt.saveLines: 30000
URxvt.cursorBlink: true
URxvt*Font: xft:Inconsolata:pixelsize=9,xft:Terminus:pixelsize=9
URxvt*.cursorColor: #F67730
URxvt*foreground: #aaa
URxvt*background: #000000
URxvt*color0:     #000d18
URxvt*color1:     #ff6C6C
URxvt*color2:     #6CD96C
URxvt*color3:     #de5e1e
URxvt*color4:     #6C6CD9
URxvt*color5:     #d96cd9
URxvt*color6:     #6cd9d9
URxvt*color7:     #ffffff
URxvt*color8:     #000d18
URxvt*color9:     #ff6C6C
URxvt*color10:    #6CD96C
URxvt*color11:    #de5e1e
URxvt*color12:    #6C6CD9
URxvt*color13:    #d96cd9
URxvt*color14:    #6cd9d9
URxvt*color15:    #ffffff
URxvt*colorBD:    #ffcfaf
URxvt*colorUL:    #ccdc90
URxvt*colorIT:    #80d4aa
URxvt.keysym.KP_Add: +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide: /
URxvt.keysym.KP_Decimal: .
URxvt.keysym.KP_Separator: ,
URxvt.keysym.KP_2: 2
URxvt.keysym.KP_3: 3
URxvt.keysym.KP_4: 4
URxvt.keysym.KP_5: 5
URxvt.keysym.KP_6: 6
URxvt.keysym.KP_7: 7
URxvt.keysym.KP_8: 8
URxvt.keysym.KP_9: 9
URxvt.keysym.KP_0: 0
xscreensaver*Font: xft:Inconsolata:pixelsize=9,xft:Terminess\ Powerline:pixelsize=8
xscreensaver.Dialog.foreground:         #de5e1e
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #de5e1e
xscreensaver.Dialog.Button.background:  #111111
xscreensaver.Dialog.text.foreground:    #de5e1e
xscreensaver.Dialog.text.background:    #111111
xscreensaver.Dialog.internalBorderWidth:20
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    0
xscreensaver.passwd.thermometer.foreground:  #de5e1e
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y
xscreensaver.newLoginCommand: 
Gdraw.Foreground: #ffffff
Gdraw.Background: #101010
Gdraw.GGadget.Box.BorderBrightest: #131313
Gdraw.GGadget.Box.BorderBrighter: #171717
Gdraw.GGadget.Box.BorderDarker: #232323
Gdraw.GGadget.Box.BorderDarkest: #272727
Gdraw.GGadget.Box.DisabledForeground: #999999
Gdraw.GGadget.Box.DisabledBackground: #333333
Gdraw.GGadget.Box.PressedBackground: #de4400
fontforge.CharView.WidthColor: #ffffff
fontforge.CharView.TransformOriginColor: #ffffff
fontforge.CharView.ForegroundOutlineColor: #ffffff
Xterm*foreground: #CCCCCC
Xterm*background: #000000
Xterm*faceName: Terminus:size=9
