/* .+ */ * { background-color: #111 !important; color:#de5e1e !important; border-color:#de5e1e !important; }

/* .+ */ :link,:visited,:active { background-color:#111 !important; color:#de5e1e !important; }

/* .+ */ a:hover { color:#f50 !important; }

/* .+ */ a { background-image: inherit !important; }

/* .+ */ input { background: #111 !important; }

/* ff */ ::-moz-selection { color:#f50 !important; }

/* ch */ ::selection { color:#f50 !important; }

/* xx */ ::-webkit-selection { color:#f50 !important; }



/* patch: twitch html5 */ div.player-overlay { background-color: initial !important; }

/* patch: userstyles(x) */ section#style-info div#main-style-info div[id] { background: initial !important; }

/* patch: ustream(1) */ div#HeaderGrad { background-image: initial !important; }

/* patch: hitbox(3) */ div.mediaControls,div[ng-click="doubleClickFullscreen()"],button[class] { background-color: initial !important; }

/* patch: firefox bug */ div[id="tab-background-fill"] { background-color: initial !important; }

hi Hint font-size: 12px; font-weight: bold; color:#fff; background-color:#FF5500; padding: 0px 2px 0px 2px;
hi Hint::after content: attr(number);
hi HintActive background-color: #0055FF; color: #fff;
hi HintElem background-color: #DE5E1E; color: #fff;
hi HintImage opacity: 0.5;
